<%= if get_flash(@conn, :info) do %>
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= get_flash(@conn, :info) %>
  </div>
<% end %>

<%= if get_flash(@conn, :error) do %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= get_flash(@conn, :error) %>
  </div>
<% end %>
