/* Phoenix flash messages */
.alert:empty { display: none; }

/* Hero section */
.hero-section {
  background: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.2)
  ), url('/images/business.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 723px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -20px;
}
.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/* Video index */
.video-index {
  padding-top: 10px;
}
.duration-text {
  font-size: .65em;
  color: #555;
}
